/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.container {
  width: 40%;
}
.verClientes{
	width: 60%;
}

.editarCl {
	text-decoration:none;
	
}

#linkClient{
	float: right;
}
.links{
	padding: 4%;

}
#table_cli_length{
	display: none;
}
#table_cli_filter{
	float: left;
}
.dataTables_wrapper,#DataTables_Table_0_wrapper{margin-top: 25px !important;}
 .dataTables_wrapper{margin-top: 30px !important;}
        .dataTables_wrapper .dataTables_length{display: none}
footer{
  padding-top: 10%;
}